---
import Main from "@layout/main.astro";
import { getCollection } from "astro:content";

const blogs = await getCollection("blog");
---

<Main title="Blogs">
    <div
        class="flex items-center p-4 mb-4 text-sm text-text border border-accent rounded-lg bg-secondary"
        role="alert"
    >
        <svg
            class="flex-shrink-0 inline w-4 h-4 me-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
        >
            <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            ></path>
        </svg>
        <div>A redesign of this page is in progress.</div>
    </div>
    
    <h1 class="text-4xl font-black mb-4 text-accent">Blogs</h1>
    {
        blogs.length > 0 ? (
            <ul class="list-none">
                {blogs.map((blog) => (
                    <li class="mb-4">
                        <a href=`/blog/${blog.id}`>{blog.data.title}</a>
                    </li>
                ))}
            </ul>
        ) : (
            <p>No blogs found.</p>
        )
    }
</Main>
