---
import { Image } from "astro:assets";
import Main from "../layouts/main.astro";
import FeaturedProject from "../components/FeaturedProject.astro";
import portrait from "../assets/portrait.jpg";
import AutoGrid from "../components/TwoGrid.astro";
import Button from "../components/Button.astro";
import SocialButtons from "../components/SocialButtons.astro";
import ExperienceEntry from "../components/ExperienceEntry.astro";
---

<Main title="Aditya Kumar">
  <div
    class="flex justify-end items-center relative gap-12 container h-[90vh]"
    id="home"
  >
    <div class="width-[90vw] max-w-2xl absolute z-10 left-0">
      <!-- TODO: Automate this section-->
      <div class="relative">
        <a href="/blog/gsoc-2025">
          <div
            class="flex items-center gap-2 text-sm px-4 py-2 border-1 w-fit rounded-3xl absolute left-[-1rem] top-[-3rem] cursor-pointer"
          >
            <Image src="/assets/icons/gsoc.png" alt="" width="24" height="24" />
            <span>GSoC' 25 <b>@kornia</b></span>
          </div>
        </a>
      </div>
      <p>Hi, my name is</p>
      <h1 class="text-3xl md:text-5xl text-primary font-black mt-3">
        Aditya Kumar.
      </h1>
      <h1 class="text-secondary font-extrabold text-3xl md:text-5xl mt-3 mb-3">
        I love automating every thing.
      </h1>
      <p class="text-base mb-3">
        I'm a software developer with a passion for creating innovative
        solutions that simplify complex tasks. My work spans various domains,
        all entered around enhancing productivity and empowering others through
        building software that automates workflows, decisions, and everyday
        tasks.
      </p>
      <SocialButtons />
    </div>
    <div>
      <Image
        src={portrait}
        alt="Self Portrait"
        widths={[430, 510, 1200]}
        sizes={"(max-width: 886px) 430px, (max-width: 1280px) 510px, 1200px"}
        quality="high"
        loading="eager"
        class:list={[
          "hidden",
          "md:block md:w-auto md:h-[90vh] md:max-h-[701px] md:rounded-3xl",
        ]}
      />
    </div>
  </div>
  <div
    class="relative flex flex-col items-start justify-center min-h-[90vh] h-fit"
    id="about"
  >
    <div class="width-[90vw] max-w-2xl">
      <h1 class="text-primary font-bold text-4xl mb-10">About Me</h1>
      <p class="text-base mb-3">
        Hello, my name is Aditya, and I enjoy automating stuff.
      </p>
      <p class="text-base mb-3">
        My journey into programming began back in 2020 when I was in 9th grade.
        What started as a curiosity quickly turned into a passion as I dived
        into Web Development and gradually expanded my knowledge across various
        programming languages.
      </p>
      <p class="text-base">
        Fast forward to today, I've found a deep appreciation for Rust, a
        language that impresses me with its design principles, addressing many
        of the pitfalls found in other systems languages. My current focus is on
        honing my skills and giving back to the community that has helped me
        grow as a developer.
      </p>
    </div>
    <div>
      <Image
        src={portrait}
        alt="Self Portrait"
        widths={[430, 510, 1200]}
        sizes={"(max-width: 886px) 430px, (max-width: 1280px) 510px, 1200px"}
        quality="high"
        class:list={["w-[90vw] h-auto rounded-3xl my-10", "sm:hidden"]}
      />
    </div>
  </div>
  <div class="my-12">
    <h1 id="experience" class="text-primary font-bold text-4xl mb-10">
      Experience
    </h1>
    <!-- TODO: Auto-update this experience section in the future -->
    <div class="max-w-6xl pl-4">
      <ExperienceEntry
        company="Google Summer Of Code (GSOC) 2025"
        role="Open Source Developer"
        duration="May 2025 - Sept 2025"
        location="Remote"
        description="Contributing to the kornia-rs ecosystem by implementing efficient detection algorithms for both synthetic and natural features in Rust. Developing an April Tag detector optimized for calibration and structured environments, along with an ORB-based detector for natural feature extraction. These modules are crucial for robust visual localization, Visual SLAM applications, and robotics tasks such as robot navigation, camera calibration, and pose estimation. The project enhances kornia-rs as a comprehensive toolkit for computer vision applications in robotics and augmented reality."
        company_url="/blog/gsoc-2025-report"
        isInternship={true}
        isLast={true}
      />
    </div>
  </div>
  <div class="my-12">
    <h1 id="skills" class="text-primary font-bold text-4xl mb-10">Skills</h1>
    <div class="flex justify-between items-start flex-wrap">
      <ul>
        <li><b>Languages</b></li>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>Python</li>
        <li>Rust</li>
      </ul>
      <ul>
        <li><b>Frameworks</b></li>
        <li>React.js</li>
        <li>Next.js</li>
        <li>Node.js</li>
        <li>Django</li>
        <li>Flask</li>
        <li>Tokio</li>
        <li>Bevy</li>
      </ul>
      <ul>
        <li><b>Tools &amp; Technologies</b></li>
        <li>Chrome Dev Tools</li>
        <li>Postman</li>
        <li>Git</li>
        <li>GitHub Actions</li>
        <li>Docker</li>
        <li>Web Assembly</li>
        <li>AWS</li>
        <li>Oracle Cloud</li>
      </ul>
    </div>
  </div>
  <div class="my-12">
    <h1 id="projects" class="text-primary font-bold text-4xl mb-10">
      Featured Projects
    </h1>
    <AutoGrid>
      <FeaturedProject
        title="Pastey"
        description={[
          "Macros for all your token pasting needs. Successor of paste",
        ]}
        github_url="as1100k/pastey"
        languages_n_tools={["Rust"]}
      />
      <FeaturedProject
        title="Aether"
        description={[
          "Collection of Minecraft Bots and Plugins written in rust.",
        ]}
        github_url="as1100k/aether"
        languages_n_tools={["Rust", "Bevy", "Automation"]}
      />
      <FeaturedProject
        title="bevy-discord"
        description={[
          "A very simple, bevy plugin that let you send and receive discord messages through bevy events.",
        ]}
        github_url="as1100k/bevy-discord"
        external_url="https://docs.rs/bevy-discord"
        languages_n_tools={["Rust", "Bevy"]}
      />
      <FeaturedProject
        title="Shadow Runner"
        description={[
          "A fun 2D Platformer Game built for Code for Cause Game Jam",
        ]}
        github_url="as1100k/shadow-runner"
        external_url="https://as1100k.itch.io/shadow-runner"
        languages_n_tools={["Rust", "Bevy"]}
      />
    </AutoGrid>
    <br />
    <center>
      <a href="https://github.com/AS1100K?tab=repositories"
        ><Button>See More</Button></a
      >
    </center>
  </div>
</Main>

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
</style>
