---
import { Image } from "astro:assets";
import Main from "../layouts/main.astro";
import FeaturedProject from "../components/FeaturedProject.astro";
import portrait from "../assets/portrait.jpg";
import AutoGrid from "../components/TwoGrid.astro";
import Button from "../components/Button.astro";
---

<Main title="Aditya Kumar">
  <div class="hero container" id="home">
    <div class="hero-content">
      <p>Hi, my name is</p>
      <h1
        class="heading-text primary-text poppins-black"
        style="line-height: 100%; margin: 0;"
      >
        Aditya Kumar.
      </h1>
      <h1
        class="heading-text secondary-text poppins-extrabold"
        style="line-height: 100%; margin: 0; margin-top: 10px;"
      >
        I love automating every thing.
      </h1>
      <p>
        I'm a software developer with a passion for creating innovative
        solutions that simplify complex tasks. My work spans various domains,
        all entered around enhancing productivity and empowering others through
        building software that automates workflows, decisions, and everyday
        tasks.
      </p>
    </div>
    <div class="img-wrapper-hero">
      <Image
        src={portrait}
        alt="Self Portrait"
        widths={[430, 510, 1200]}
        sizes={"(max-width: 886px) 430px, (max-width: 1280px) 510px, 1200px"}
        quality="high"
      />
    </div>
  </div>
  <div class="about" id="about">
    <div class="hero-content">
      <h1 class="primary-text poppins-bold">About Me</h1>
      <p>Hello, my name is Aditya, and I enjoy automating stuff.</p>
      <p>
        My journey into programming began back in 2020 when I was in 9th grade.
        What started as a curiosity quickly turned into a passion as I dived
        into Web Development and gradually expanded my knowledge across various
        programming languages.
      </p>
      <p>
        Fast forward to today, I've found a deep appreciation for Rust, a
        language that impresses me with its design principles, addressing many
        of the pitfalls found in other systems languages. My current focus is on
        honing my skills and giving back to the community that has helped me
        grow as a developer.
      </p>
    </div>
    <div class="img-wrapper-about">
      <Image
        src={portrait}
        alt="Self Portrait"
        widths={[430, 510, 1200]}
        sizes={"(max-width: 886px) 430px, (max-width: 1280px) 510px, 1200px"}
        quality="high"
      />
    </div>
  </div>
  <div class="skills soft-container">
    <h1 id="skills" class="primary-text poppins-bold">Skills</h1>
    <div>
      <ul>
        <li><b>Languages</b></li>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>Python</li>
        <li>Rust</li>
      </ul>
      <ul>
        <li><b>Frameworks</b></li>
        <li>React.js</li>
        <li>Next.js</li>
        <li>Node.js</li>
        <li>Django</li>
        <li>Flask</li>
        <li>Tokio</li>
        <li>Bevy</li>
      </ul>
      <ul>
        <li><b>Tools &amp; Technologies</b></li>
        <li>Chrome Dev Tools</li>
        <li>Postman</li>
        <li>Git</li>
        <li>GitHub Actions</li>
        <li>Docker</li>
        <li>Web Assembly</li>
        <li>AWS</li>
        <li>Oracle Cloud</li>
      </ul>
    </div>
  </div>
  <div class="soft-container">
    <h1 id="projects" class="primary-text poppins-bold">Featured Projects</h1>
    <AutoGrid cols={2}>
      <FeaturedProject
        title="Aether"
        description={[
          "A collection of high-performance Minecraft bots built in Rust to automate\
         resource collection and other tedious tasks.",
          "These bots are designed to significantly reduce human effort, allowing \
         players to focus on enjoying the game and spending time with friends, rather\
         than grinding for resources. By leveraging Rust, these bots achieve \
         exceptional performance and minimal memory usage, making them both powerful\
         and efficient.",
        ]}
        featured_image="/src/assets/featured-projects/aether.jpg"
        github_url="https://github.com/as1100k/aether"
      />
      <!-- read_more_url="/sample-blog-post"
    external_url="https://spacebots.org" -->
      <FeaturedProject
        title="Mailbridge"
        description={[
          "A simple Python program that lets you choose between Outlook, Gmail, or other\
          mailboxes for centralized email storage, making email management effortless and secure.",
        ]}
        featured_image="/src/assets/featured-projects/mailbridge.jpeg"
        github_url="https://github.com/as1100k/mailbridge"
      />
    </AutoGrid>
    <br />
    <center>
      <a href="https://github.com/AS1100K?tab=repositories"
        ><Button>See More</Button></a
      >
    </center>
  </div>
</Main>

<style>
  .img-wrapper-hero > img {
    display: none;
  }

  .img-wrapper-about > img {
    display: unset;
    width: 90vw;
    height: auto;
    border-radius: 22px;
  }

  .hero {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 50px;
    position: relative;
  }

  .about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 90vh;
    height: fit-content;
  }

  .skills > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  @media only screen and (min-width: 500px) {
    .img-wrapper-about > img {
      display: none;
    }
  }

  @media only screen and (min-width: 730px) {
    .img-wrapper-hero > img {
      display: unset;
      width: auto;
      height: 90vh;
      max-height: 701px;
      border-radius: 22px;
    }

    .hero-content {
      width: 90vw;
      max-width: 645px;
      position: absolute;
      z-index: 5;
      left: 0;
    }

    .hero-content > p:last-child {
      background-color: var(--background);
      padding: 10px 10px 10px 0;
      border-radius: 11px;
    }
  }

  @media only screen and (max-width: 886px) {
    .img-wrapper-hero > img {
      width: 50vw;
      height: auto;
    }
  }
</style>
