<button>
    <slot/>
</button>

<style>
    button {
        border: 0;
        border-radius: 5px;
        padding: 13px 10px;
        font-size: 16px;
        background-color: var(--accent);
        color: var(--text);
        cursor: pointer;
    }
</style>