---
---
<div
  class="m-auto mb-10 prose
  prose-h1:text-4xl prose-h1:font-black prose-h1:text-primary
  prose-h2:text-3xl prose-h2:font-extrabold prose-h2:text-primary
  prose-h3:text-2xl prose-h3:font-bold prose-h3:text-secondary
  prose-table:text-base prose-thead:uppercase
  prose-th:px-6 prose-th:py-3
  prose-tr:border-b
  prose-td:px-6 prose-td:py-4
  prose-table:text-text
  prose-img:rounded-lg prose-img:shadow-lg prose-img:my-6
  ">
  <slot />
</div>