---
import { Image } from "astro:assets";

export interface Props {
  devtoUrl?: string;
}

const props = Astro.props;
---

<div
  class={`flex justify-start items-center gap-5 ${props.devtoUrl ? "rounded-br-lg md:flex-col gap-2 bg-background p-3 pb-1 md:pt-0" : "justify-start items-center gap-5"}`}
>
  <a href="https://github.com/as1100k"
    ><button
      ><Image
        src="/assets/icons/github.svg"
        width={24}
        height={24}
        alt="GitHub Social Link"
      /></button
    ></a
  >
  <a href="https://linkedin.com/in/as1100k"
    ><button
      ><Image
        src="/assets/icons/linkedin.svg"
        width={24}
        height={24}
        alt="LinkedIn Social Link"
      /></button
    ></a
  >
  <!-- I am not using twitter for a long time now. I created twitter account
       just for fun and ran it with chatGPT for couple of months. Since, then
       I have left the platform for good. Sad that I am not very active across
       social media. Now, I am trying out Bluesky, let's see how it goes.

       Lesson Learned: Never use 100% on your personal Account. -->

  <!-- <a href="https://x.com/as1100k"
    ><button
      ><Image
        src="/assets/icons/twitter-x.svg"
        width={24}
        height={24}
        alt="LinkedIn Social Link"
      /></button
    ></a
  > -->
  <a href="https://bsky.app/profile/adityais.dev"
    ><button
      ><Image
        src="/assets/icons/bluesky.svg"
        width={24}
        height={24}
        alt="BlueSky Social Link"
      /></button
    ></a
  >
  {
    props.devtoUrl && (
      <a href={props.devtoUrl} target="_blank" referrerpolicy="no-referrer">
        <button>
          <Image
            src="/assets/icons/dev-to.svg"
            width={24}
            height={24}
            alt="View on dev.to"
          />
        </button>
      </a>
    )
  }
</div>

<style>
  button {
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
  }
</style>
