---
import Main from "./main.astro";
import Prose from "../components/Prose.astro";

export interface Props {
	frontmatter: {
		title: string;
		description?: string;
	};
}

const { frontmatter } = Astro.props;
---

<Main title={frontmatter.title} description={frontmatter.description}>
    <article>
        <Prose>
            <slot/>
        </Prose>
    </article>    
</Main>