---
interface Props {
  title: string;
  description?: string;
}

const page_description = Astro.props;

const default_description =
  "I'm a software developer with a passion for creating innovative solutions that simplify complex tasks. My work spans various domains, all entered around enhancing productivity and empowering others through building software that automates workflows, decisions, and everyday tasks.";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Popup from "../components/Popup.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <title>{page_description.title}</title>
    <meta
      name="description"
      content={page_description.description
        ? page_description.description
        : default_description}
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />

    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/font_family.css" />
  </head>
  <body>
    <Header />
    <main>
      <slot />
      <Popup>
        <p><b>🚧This site is actively developed🚧</b></p>
        <p>
          There are still many features which are under development to automate
          most parts of this site.
        </p>
      </Popup>
    </main>
    <Footer />
  </body>
</html>
